body {
    background: #c0c0c0;
    cursor:url('https://i.imgur.com/1B9O5FC.png'), auto;
}

.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}

.gap-2 {
    gap: 0.5rem;
}

button{
    border-width: 2px;
    border-style: outset;
    border-right-color: #424242;
    border-bottom-color: #424242;
    background: silver;
    color: black;
    padding: 4px;
    border-radius: 1px;
}
button:hover {
    border: 2px inset #fff;
    background: silver;
    color: #424242;
    box-shadow: -1px -1px #000;
}
button:focus {
    border: 2px inset #fff !important;
    background: silver;
    color: #424242;
    box-shadow: -1px -1px #000 !important;
    outline: 0 !important;
    background: url('https://i.imgur.com/uqVZuDe.png');
}
button:active {
    border: 2px inset #fff !important;
    color: #424242;
    box-shadow: -1px -1px #000 !important;
    outline: 0 !important;
    background: url('https://i.imgur.com/uqVZuDe.png');
}
button:focus{
    outline: 1px dotted;
}
button.disabled,button:disabled{
    cursor: default;
    background-color: silver;
    border-style: outset;
    border-color: buttonface;
    border-right-color: #424242;
    border-bottom-color: #424242;
    color: grey;
    text-shadow: 1px 1px #fff;
}